{% extends "base.html" %}

{% block content %}
    <div class="container p-3">
        <div class="d-flex flex-wrap justify-content-center gap-3 align-items-start">
            {% for item in news %}
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-white">
                   Автор - {{ item.user.name }}
                 </div>
                {% if item.file %}
                    {% set ful_file = '/' + UPLOAD_FOLDER + item.file %}
                    {% if item.file.endswith(('.jpg', '.jpeg', '.png', '.gif', '.webp', '.svg')) %}
                    <img src="{{ ful_file }}" class="card-img-top p-2" alt="{{ item.file }} ">
                    {% elif item.file.endswith(('.mp4', '.webm', '.ogg', '.mov')) %}
                    <video src="{{ ful_file }}" class="object-fit-contain p-2" controls></video>
                    {% elif item.file.endswith(('.mp3', '.wav', '.ogg', '.m4a')) %}
                    <audio src="{{ ful_file }}" controls style="width: 100%;" class="rounded-4 p-1"></audio>
                    <style>
                        audio::-webkit-media-controls-enclosure,
                        audio::-webkit-media-controls-panel {
                            border-radius: 0 !important;
                        }
                    </style>
                    {% else %}
                    <div class="container p-2">
                    <a href="{{ ful_file }}" class="btn btn-secondary" download style="width: 100%;">
                        <i class="bi bi-file-earmark-arrow-down fs-5"></i> {{ item.file }}
                    </a>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ item.title }}</h2>
                    <div class="card-text">
                        {{ item.content }}
                    </div>
                    <div class="mt-2 mb-2">
                        <a href="/like/{{ item.id }}" class="btn btn-sm {{ 'btn-success' if current_user in item.likes else 'btn-outline-success' }}">
                            <i class="bi bi-hand-thumbs-up"></i> {{ item.likes|length }}
                        </a>
                        <a href="/dislike/{{ item.id }}" class="btn btn-sm {{ 'btn-danger' if current_user in item.dislikes else 'btn-outline-danger' }}">
                            <i class="bi bi-hand-thumbs-down"></i> {{ item.dislikes|length }}
                        </a>
                         <a href="#" class="btn btn-sm btn-outline-warning">
                            <i class="bi bi-star"></i>
                        </a>
                       <a href="/comments/{{ item.id }}" class="btn btn-sm {{ 'btn-primary'}}">Комментарии</a>
                    </div>
                    {% if current_user.is_authenticated and current_user == item.user %}
                    <div>
                        <a href="/news/{{ item.id }}" class="btn btn-secondary">
                            <i class="bi bi-pencil-square"></i> Изменить
                        </a>
                        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Удалить
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-footer">
                    Дата написания - {{ item.created_date }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}