{% extends "base.html" %}

{% block content %}
    <h1>Записи в блоге</h1>
    {% if current_user.is_authenticated %}
        <a href="news" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Добавить новость
        </a>
    {% endif %}
    {% for item in news %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.content }}
            </div>
            <div>
                Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
            </div>
            <div class="mt-2 mb-2">
                <a href="/like/{{ item.id }}" class="btn btn-sm {{ 'btn-success' if current_user in item.likes else 'btn-outline-success' }}">
                    <i class="bi bi-hand-thumbs-up"></i> {{ item.likes|length }}
                </a>
                <a href="/dislike/{{ item.id }}" class="btn btn-sm {{ 'btn-danger' if current_user in item.dislikes else 'btn-outline-danger' }}">
                    <i class="bi bi-hand-thumbs-down"></i> {{ item.dislikes|length }}
                </a>
                <a href="#" class="btn btn-sm {{ 'btn-primary'}}">Комментарии</a>
            </div>

            {% if current_user.is_authenticated and current_user == item.user %}
                <div>
                    <a href="/news/{{ item.id }}" class="btn btn-secondary">
                        <i class="bi bi-pencil-square"></i> Изменить
                    </a>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Удалить
                    </a>
                </div>

            {% endif %}
        </div>
    {% endfor %}
{% endblock %}